<div id="glowscript" class="glowscript">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link type="text/css" href="https://www.glowscript.org/css/redmond/2.1/jquery-ui.custom.css" rel="stylesheet" />
<link type="text/css" href="https://www.glowscript.org/css/ide.css" rel="stylesheet" />
<script type="text/javascript" src="https://www.glowscript.org/lib/jquery/2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.glowscript.org/lib/jquery/2.1/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="https://www.glowscript.org/package/glow.3.1.min.js"></script>
<script type="text/javascript" src="https://www.glowscript.org/package/RSrun.3.1.min.js"></script>
<script type="text/javascript"><!--//--><![CDATA[//><!--

// START JAVASCRIPT
;(function() {;
var ρσ_modules = {};
var inp_str, win;
ρσ_modules.pythonize = {};

(function(){
    function strings() {
        var string_funcs, exclude, name;
        string_funcs = set("capitalize strip lstrip rstrip islower isupper isspace lower upper swapcase center count endswith startswith find rfind index rindex format join ljust rjust partition rpartition replace split rsplit splitlines zfill".split(" "));
        if (!arguments.length) {
            exclude = (function(){
                var s = ρσ_set();
                s.jsset.add("split");
                s.jsset.add("replace");
                return s;
            })();
        } else if (arguments[0]) {
            exclude = Array.prototype.slice.call(arguments);
        } else {
            exclude = null;
        }
        if (exclude) {
            string_funcs = string_funcs.difference(set(exclude));
        }
        var ρσ_Iter0 = string_funcs;
        ρσ_Iter0 = ((typeof ρσ_Iter0[Symbol.iterator] === "function") ? (ρσ_Iter0 instanceof Map ? ρσ_Iter0.keys() : ρσ_Iter0) : Object.keys(ρσ_Iter0));
        for (var ρσ_Index0 of ρσ_Iter0) {
            name = ρσ_Index0;
            (ρσ_expr_temp = String.prototype)[(typeof name === "number" && name < 0) ? ρσ_expr_temp.length + name : name] = (ρσ_expr_temp = ρσ_str.prototype)[(typeof name === "number" && name < 0) ? ρσ_expr_temp.length + name : name];
        }
    };
    if (!strings.__module__) Object.defineProperties(strings, {
        __module__ : {value: "pythonize"}
    });

    ρσ_modules.pythonize.strings = strings;
})();
async function __main__() {
"use strict";

    var version, display, vector, print, arange, __name__, type, scene, ρσ_ls, inp_str, win;
    version = ρσ_list_decorate([ "3.1", "glowscript" ]);
    Array.prototype['+'] = function(r) {return this.concat(r)}
    Array.prototype['*'] = function(r) {return __array_times_number(this, r)}
    window.__GSlang = "vpython";
    display = canvas;
    vector = vec;
    print = GSprint;
    arange = range;
    __name__ = "__main__";
    type = pytype;
    scene = canvas();
    var strings = ρσ_modules.pythonize.strings;

    strings();
    "6";
    function BST() {;
    }
    BST.prototype.__init__ = async function __init__() {
        var self = this;
        "8";
        self.root = null;
        "9";
        self.label_dict = {};
        "10";
        self.node_list = ρσ_list_decorate([]);
        "12";
        self.level_breadth = 5;
        "13";
        self.level_hgt = 5;
        "14";
        self.radius = 2;
        "16";
        self.font_size = 15;
        "18";
        scene.background = color.white;
        "19";
        scene.autoscale = true;
        "21";
        scene.width = 1280;
        "22";
        scene.height = 500;
        "24";
        print("BST initialted");
    };
    if (!BST.prototype.__init__.__module__) Object.defineProperties(BST.prototype.__init__, {
        __module__ : {value: null}
    });
    BST.__argnames__ = BST.prototype.__init__.__argnames__;
    BST.__handles_kwarg_interpolation__ = BST.prototype.__init__.__handles_kwarg_interpolation__;
    BST.prototype.add_item = async function add_item(value) {
        var self = this;
        var ρσ_ls, new_node, inserted, curr_node, i, pointer, parent, insert_left;
        "27";
        (await rate(1.5));
        "28";
        if (self.root === null) {
            "29";
            new_node = ρσ_interpolate_kwargs.call(this, sphere, [ρσ_desugar_kwargs({pos: vector(0, 0, 0), radius: self.radius, color: color.cyan, value: value, left: null, right: null, parent: null})]);
            "39";
            inserted = false;
            "40";
            var ρσ_Iter1 = range(len(self.node_list));
            ρσ_Iter1 = ((typeof ρσ_Iter1[Symbol.iterator] === "function") ? (ρσ_Iter1 instanceof Map ? ρσ_Iter1.keys() : ρσ_Iter1) : Object.keys(ρσ_Iter1));
            for (var ρσ_Index1 of ρσ_Iter1) {
                i = ρσ_Index1;
                "41";
                curr_node = (ρσ_expr_temp = self.node_list)[(typeof i === "number" && i["<"](0)) ? ρσ_expr_temp.length["+"](i) : i];
                "42";
                if (new_node.value["<"](curr_node.value)) {
                    "43";
                    self.node_list.insert(i, new_node);
                    "44";
                    inserted = true;
                    "45";
                    break;
                    "46";
                }
            }
            if (!inserted) {
                "47";
                self.node_list.append(new_node);
            }
            "51";
            (ρσ_expr_temp = self.label_dict)[(typeof value === "number" && value["<"](0)) ? ρσ_expr_temp.length["+"](value) : value] = [ρσ_interpolate_kwargs.call(this, label, [ρσ_desugar_kwargs({pos: new_node.pos, text: value, color: color.black, height: self.font_size})]), 
            null];
            "58";
            self.root = new_node;
            "59";
            return self.root;
        }
        "61";
        pointer = self.root;
        "62";
        parent = null;
        "63";
        insert_left = null;
        "65";
        while (pointer) {
            "66";
            parent = pointer;
            "67";
            if (value["<"](pointer.value)) {
                "68";
                pointer = pointer.left;
                "69";
                insert_left = true;
                "70";
            } else if (value[">"](pointer.value)) {
                "71";
                pointer = pointer.right;
                "72";
                insert_left = false;
                "74";
            }
        }
        if (insert_left) {
            "75";
            new_node = ρσ_interpolate_kwargs.call(this, sphere, [ρσ_desugar_kwargs({pos: parent.pos["+"](vector(self.level_breadth["-u"](), self.level_hgt["-u"](), 0)), radius: self.radius, color: color.cyan, value: value, left: null, right: null, parent: parent})]);
            "84";
            inserted = false;
            "85";
            var ρσ_Iter2 = range(len(self.node_list));
            ρσ_Iter2 = ((typeof ρσ_Iter2[Symbol.iterator] === "function") ? (ρσ_Iter2 instanceof Map ? ρσ_Iter2.keys() : ρσ_Iter2) : Object.keys(ρσ_Iter2));
            for (var ρσ_Index2 of ρσ_Iter2) {
                i = ρσ_Index2;
                "86";
                curr_node = (ρσ_expr_temp = self.node_list)[(typeof i === "number" && i["<"](0)) ? ρσ_expr_temp.length["+"](i) : i];
                "87";
                if (new_node.value["<"](curr_node.value)) {
                    "88";
                    self.node_list.insert(i, new_node);
                    "89";
                    inserted = true;
                    "90";
                    break;
                    "91";
                }
            }
            if (!inserted) {
                "92";
                self.node_list.append(new_node);
            }
            "95";
            parent.left = new_node;
            "96";
        } else {
            "97";
            new_node = ρσ_interpolate_kwargs.call(this, sphere, [ρσ_desugar_kwargs({pos: parent.pos["+"](vector(self.level_breadth, self.level_hgt["-u"](), 0)), radius: self.radius, color: color.cyan, value: value, left: null, right: null, parent: parent})]);
            "106";
            inserted = false;
            "107";
            var ρσ_Iter3 = range(len(self.node_list));
            ρσ_Iter3 = ((typeof ρσ_Iter3[Symbol.iterator] === "function") ? (ρσ_Iter3 instanceof Map ? ρσ_Iter3.keys() : ρσ_Iter3) : Object.keys(ρσ_Iter3));
            for (var ρσ_Index3 of ρσ_Iter3) {
                i = ρσ_Index3;
                "108";
                curr_node = (ρσ_expr_temp = self.node_list)[(typeof i === "number" && i["<"](0)) ? ρσ_expr_temp.length["+"](i) : i];
                "109";
                if (new_node.value["<"](curr_node.value)) {
                    "110";
                    self.node_list.insert(i, new_node);
                    "111";
                    inserted = true;
                    "112";
                    break;
                    "113";
                }
            }
            if (!inserted) {
                "114";
                self.node_list.append(new_node);
            }
            "117";
            parent.right = new_node;
        }
        "119";
        (ρσ_expr_temp = self.label_dict)[(typeof value === "number" && value["<"](0)) ? ρσ_expr_temp.length["+"](value) : value] = ρσ_list_decorate([ ρσ_interpolate_kwargs.call(this, label, [ρσ_desugar_kwargs({pos: new_node.pos, text: value, color: color.black, height: self.font_size})]), ρσ_interpolate_kwargs.call(this, arrow, [ρσ_desugar_kwargs({pos: parent.pos, axis: new_node.pos["-"](parent.pos), color: color.yellow})]) ]);
        "127";
        (await self.refactor2());
        "128";
        print("adding ", value);
    };
    if (!BST.prototype.add_item.__argnames__) Object.defineProperties(BST.prototype.add_item, {
        __argnames__ : {value: ["value"]},
        __module__ : {value: null}
    });
    BST.prototype.search_item = async function search_item() {
        var self = this;
        var node = ( 0 === arguments.length["-"](1) && arguments[arguments.length["-"](1)] !== null && typeof arguments[arguments.length["-"](1)] === "object" && arguments[arguments.length["-"](1)] [ρσ_kwargs_symbol] === true) ? undefined : arguments[0];
        var value = ( 1 === arguments.length["-"](1) && arguments[arguments.length["-"](1)] !== null && typeof arguments[arguments.length["-"](1)] === "object" && arguments[arguments.length["-"](1)] [ρσ_kwargs_symbol] === true) ? undefined : arguments[1];
        var show_animation = (arguments[2] === undefined || ( 2 === arguments.length["-"](1) && arguments[arguments.length["-"](1)] !== null && typeof arguments[arguments.length["-"](1)] === "object" && arguments[arguments.length["-"](1)] [ρσ_kwargs_symbol] === true)) ? search_item.__defaults__.show_animation : arguments[2];
        var ρσ_kwargs_obj = arguments[arguments.length["-"](1)];
        if (ρσ_kwargs_obj === null || typeof ρσ_kwargs_obj !== "object" || ρσ_kwargs_obj [ρσ_kwargs_symbol] !== true) ρσ_kwargs_obj = {};
        if (Object.prototype.hasOwnProperty.call(ρσ_kwargs_obj, "show_animation")){
            show_animation = ρσ_kwargs_obj.show_animation;
        }
        "131";
        if (node === null) {
            "132";
            return null;
            "134";
        }
        if (show_animation) {
            "135";
            node.color = color.magenta;
            "136";
            if ((await self.get_arrow(node))) {
                "137";
                (await self.get_arrow(node)).color = color.magenta;
            }
            "138";
            (await sleep(1));
            "139";
            node.color = color.cyan;
            "140";
            if ((await self.get_arrow(node))) {
                "141";
                (await self.get_arrow(node)).color = color.yellow;
                "143";
            }
        }
        if ((node.value === value || typeof node.value === "object" && ρσ_equals(node.value, value))) {
            "144";
            if (show_animation) {
                "145";
                node.color = color.green;
                "146";
                (await sleep(2));
                "147";
                node.color = color.cyan;
            }
            "148";
            return node;
            "150";
        } else if (value["<"](node.value)) {
            "151";
            return (await self.search_item(node.left, value, show_animation));
            "152";
        } else if (value[">"](node.value)) {
            "153";
            return (await self.search_item(node.right, value, show_animation));
        }
    };
    if (!BST.prototype.search_item.__defaults__) Object.defineProperties(BST.prototype.search_item, {
        __defaults__ : {value: {show_animation:true}},
        __handles_kwarg_interpolation__ : {value: true},
        __argnames__ : {value: ["node", "value", "show_animation"]},
        __module__ : {value: null}
    });
    BST.prototype.remove_item = async function remove_item(value) {
        var self = this;
        var ρσ_ls, to_return, node, v, dt, t, label_, child_, arr_, next_inorder_value;
        "156";
        if (ρσ_equals(len(self.node_list), 1)) {
            "157";
            to_return = self.root;
            "158";
            self.root = null;
            "159";
            self.label_dict = {};
            "160";
            self.node_list = ρσ_list_decorate([]);
            "161";
            return to_return;
        }
        "163";
        node = (await self.search_item(self.root, value));
        "164";
        if (node === null) {
            "165";
            return null;
        }
        "167";
        node.color = color.red;
        "169";
        v = vector(0, 0, 5);
        "170";
        dt = .05;
        "171";
        t = 0;
        "173";
        if ((await self.is_leaf(node))) {
            "174";
            while (t["<"](3)) {
                "175";
                (await rate(1["/"](dt)));
                "176";
                node.pos=node.pos["+"](v["*"](dt));
                "177";
                (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.value, ρσ_expr_temp)][0].pos = node.pos;
                "178";
                t=t["+"](dt);
            }
            "180";
            (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.value, ρσ_expr_temp)][0].visible = false;
            "181";
            (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.value, ρσ_expr_temp)][1].visible = false;
            "182";
            node.visible = false;
            "184";
            if ((await self.is_left(node))) {
                "185";
                node.parent.left = null;
                "186";
            } else {
                "187";
                node.parent.right = null;
            }
            "189";
            to_return = node;
            "190";
            ρσ_delitem(self.label_dict, node.value);
            "200";
            node = undefined;
            "202";
        } else if (ρσ_equals((await self.child_count(node)), 1)) {
            "203";
            while (t["<"](2)) {
                "204";
                (await rate(1["/"](dt)));
                "205";
                node.pos=node.pos["+"](v["*"](dt));
                "206";
                (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.value, ρσ_expr_temp)][0].pos = node.pos;
                "207";
                t=t["+"](dt);
                "211";
            }
            if (node === self.root) {
                "212";
                label_ = (await self.get_label(node));
                "213";
                label_.visible = false;
                "214";
                ρσ_delitem(self.label_dict, node.value);
                "216";
                child_ = (node.right === null) ? node.left : node.left;
                "217";
                arr_ = (await self.get_arrow(child_));
                "218";
                arr_.visible = false;
                "220";
                self.root.parent = null;
                "221";
                self.root = child_;
                "223";
                to_return = node;
                "224";
                node.visible = false;
                "225";
                node = undefined;
                "227";
                (await self.refactor2());
                "228";
                return to_return;
            }
            "230";
            (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.value, ρσ_expr_temp)][0].visible = false;
            "231";
            (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.value, ρσ_expr_temp)][1].visible = false;
            "232";
            node.visible = false;
            "236";
            if ((await self.is_left(node))) {
                "237";
                if (node.right === null) {
                    "238";
                    (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.left.value, ρσ_expr_temp)][1].pos = node.parent.pos;
                    "239";
                    (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.left.value, ρσ_expr_temp)][1].axis = node.left.pos["-"](node.parent.pos);
                    "242";
                    node.parent.left = node.left;
                    "243";
                    node.left.parent = node.parent;
                    "244";
                } else {
                    "245";
                    (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.right.value, ρσ_expr_temp)][1].pos = node.parent.pos;
                    "246";
                    (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.right.value, ρσ_expr_temp)][1].axis = node.right.pos["-"](node.parent.pos);
                    "249";
                    node.parent.left = node.right;
                    "250";
                    node.right.parent = node.parent;
                    "251";
                }
            } else {
                "252";
                if (node.right === null) {
                    "253";
                    (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.left.value, ρσ_expr_temp)][1].pos = node.parent.pos;
                    "254";
                    (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.left.value, ρσ_expr_temp)][1].axis = node.left.pos["-"](node.parent.pos);
                    "257";
                    node.parent.right = node.left;
                    "258";
                    node.left.parent = node.parent;
                    "259";
                } else {
                    "260";
                    (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.right.value, ρσ_expr_temp)][1].pos = node.parent.pos;
                    "261";
                    (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.right.value, ρσ_expr_temp)][1].axis = node.right.pos["-"](node.parent.pos);
                    "264";
                    node.parent.right = node.right;
                    "265";
                    node.right.parent = node.parent;
                }
            }
            "267";
            to_return = node;
            "269";
            ρσ_delitem(self.label_dict, node.value);
            "276";
            node = undefined;
            "278";
        } else {
            "279";
            next_inorder_value = (await self.get_next_inorder(node)).value;
            "280";
            to_return = (await self.remove_item(next_inorder_value));
            "282";
            (await self.get_label(node)).text = next_inorder_value;
            "283";
            (ρσ_expr_temp = self.label_dict)[(typeof next_inorder_value === "number" && next_inorder_value["<"](0)) ? ρσ_expr_temp.length["+"](next_inorder_value) : next_inorder_value] = (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.value, ρσ_expr_temp)];
            "284";
            ρσ_delitem(self.label_dict, node.value);
            "286";
            node.value = next_inorder_value;
        }
        "290";
        (await self.refactor2());
        "291";
        return to_return;
    };
    if (!BST.prototype.remove_item.__argnames__) Object.defineProperties(BST.prototype.remove_item, {
        __argnames__ : {value: ["value"]},
        __module__ : {value: null}
    });
    BST.prototype.refactor2 = async function refactor2() {
        var self = this;
        var ρσ_ls, to_remove, i, temp_node, ρσ_unpack, node, n, root_idx, count;
        "294";
        if (self.root === null) {
            "295";
            return;
        }
        "297";
        to_remove = ρσ_list_decorate([]);
        "298";
        var ρσ_Iter4 = range(len(self.node_list));
        ρσ_Iter4 = ((typeof ρσ_Iter4[Symbol.iterator] === "function") ? (ρσ_Iter4 instanceof Map ? ρσ_Iter4.keys() : ρσ_Iter4) : Object.keys(ρσ_Iter4));
        for (var ρσ_Index4 of ρσ_Iter4) {
            i = ρσ_Index4;
            "299";
            if (ρσ_not_equals((ρσ_expr_temp = self.node_list)[(typeof i === "number" && i["<"](0)) ? ρσ_expr_temp.length["+"](i) : i], (await self.search_item(self.root, (ρσ_expr_temp = self.node_list)[(typeof i === "number" && i["<"](0)) ? ρσ_expr_temp.length["+"](i) : i].value, false)))) {
                "300";
                to_remove.append((ρσ_expr_temp = self.node_list)[(typeof i === "number" && i["<"](0)) ? ρσ_expr_temp.length["+"](i) : i].value);
            }
        }
        "302";
        var ρσ_Iter5 = enumerate(self.node_list);
        ρσ_Iter5 = ((typeof ρσ_Iter5[Symbol.iterator] === "function") ? (ρσ_Iter5 instanceof Map ? ρσ_Iter5.keys() : ρσ_Iter5) : Object.keys(ρσ_Iter5));
        for (var ρσ_Index5 of ρσ_Iter5) {
            ρσ_unpack = ρσ_Index5;
            i = ρσ_unpack[0];
            node = ρσ_unpack[1];
            "303";
            temp_node = (ρσ_expr_temp = self.node_list)[(typeof i === "number" && i["<"](0)) ? ρσ_expr_temp.length["+"](i) : i];
            "305";
            if (ρσ_in(temp_node.value, to_remove)) {
                "306";
                try {
                    "307";
                    self.node_list = self.node_list.slice(0, i)["+"](self.node_list.slice(i["+"](1)));
                    "308";
                } catch (ρσ_Exception) {
                    ρσ_last_exception = ρσ_Exception;
                    {
                        "309";
                        self.node_list.pypop(i);
                    } 
                }
            }
        }
        "311";
        n = len(self.node_list);
        "313";
        root_idx = 0;
        "314";
        var ρσ_Iter6 = range(len(self.node_list));
        ρσ_Iter6 = ((typeof ρσ_Iter6[Symbol.iterator] === "function") ? (ρσ_Iter6 instanceof Map ? ρσ_Iter6.keys() : ρσ_Iter6) : Object.keys(ρσ_Iter6));
        for (var ρσ_Index6 of ρσ_Iter6) {
            i = ρσ_Index6;
            "315";
            if (((ρσ_expr_temp = self.node_list)[(typeof i === "number" && i["<"](0)) ? ρσ_expr_temp.length["+"](i) : i] === self.root || (await typeof (ρσ_expr_temp = self.node_list))[(typeof i === "number" && i["<"](0)) ? ρσ_expr_temp.length["+"](i) : i] === "object" && ρσ_equals((ρσ_expr_temp = self.node_list)[(typeof i === "number" && i["<"](0)) ? ρσ_expr_temp.length["+"](i) : i], self.root))) {
                "316";
                root_idx = i;
                "317";
                break;
            }
        }
        "319";
        self.root.pos = vector(0, 0, 0);
        "321";
        count = 1;
        "322";
        for (var ρσ_Index7 = root_idx["+"](1); ρσ_Index7["<"](n); ρσ_Index7++) {
            i = ρσ_Index7;
            "323";
            node = (ρσ_expr_temp = self.node_list)[(typeof i === "number" && i["<"](0)) ? ρσ_expr_temp.length["+"](i) : i];
            "324";
            node.pos = vector(count["*"](self.level_breadth), (await self.get_depth(node))["-u"]()["*"](self.level_hgt), 0);
            "325";
            count=count["+"](1);
        }
        "327";
        count = 1;
        "328";
        for (var ρσ_Index8 = root_idx["-"](1); ρσ_Index8[">"](1["-u"]()); ρσ_Index8=ρσ_Index8["-"](1)) {
            i = ρσ_Index8;
            "329";
            node = (ρσ_expr_temp = self.node_list)[(typeof i === "number" && i["<"](0)) ? ρσ_expr_temp.length["+"](i) : i];
            "330";
            node.pos = vector(count["-u"]()["*"](self.level_breadth), (await self.get_depth(node))["-u"]()["*"](self.level_hgt), 0);
            "331";
            count=count["+"](1);
        }
        "333";
        for (var ρσ_Index9 = 0; ρσ_Index9["<"](n); ρσ_Index9++) {
            i = ρσ_Index9;
            "334";
            node = (ρσ_expr_temp = self.node_list)[(typeof i === "number" && i["<"](0)) ? ρσ_expr_temp.length["+"](i) : i];
            "335";
            (await self.get_label(node)).pos = node.pos;
            "337";
            if (node !== self.root) {
                "338";
                (await self.get_arrow(node)).pos = node.parent.pos;
                "339";
                (await self.get_arrow(node)).axis = node.pos["-"](node.parent.pos);
            }
        }
    };
    if (!BST.prototype.refactor2.__module__) Object.defineProperties(BST.prototype.refactor2, {
        __module__ : {value: null}
    });
    BST.prototype.refactor = async function refactor() {
        var self = this;
        var level_breadth = (arguments[0] === undefined || ( 0 === arguments.length["-"](1) && arguments[arguments.length["-"](1)] !== null && typeof arguments[arguments.length["-"](1)] === "object" && arguments[arguments.length["-"](1)] [ρσ_kwargs_symbol] === true)) ? refactor.__defaults__.level_breadth : arguments[0];
        var level_hgt = (arguments[1] === undefined || ( 1 === arguments.length["-"](1) && arguments[arguments.length["-"](1)] !== null && typeof arguments[arguments.length["-"](1)] === "object" && arguments[arguments.length["-"](1)] [ρσ_kwargs_symbol] === true)) ? refactor.__defaults__.level_hgt : arguments[1];
        var ρσ_kwargs_obj = arguments[arguments.length["-"](1)];
        if (ρσ_kwargs_obj === null || typeof ρσ_kwargs_obj !== "object" || ρσ_kwargs_obj [ρσ_kwargs_symbol] !== true) ρσ_kwargs_obj = {};
        if (Object.prototype.hasOwnProperty.call(ρσ_kwargs_obj, "level_breadth")){
            level_breadth = ρσ_kwargs_obj.level_breadth;
        }
        if (Object.prototype.hasOwnProperty.call(ρσ_kwargs_obj, "level_hgt")){
            level_hgt = ρσ_kwargs_obj.level_hgt;
        }
        var ρσ_ls, tree_depth, queue, last_ele, node, node_label, node_depth, node_arrow;
        "344";
        if (self.root === null) {
            "345";
            return;
            "347";
        }
        if ((level_breadth === "default" || typeof level_breadth === "object" && ρσ_equals(level_breadth, "default"))) {
            "348";
            level_breadth = self.level_breadth;
            "350";
        }
        if ((level_hgt === "default" || typeof level_hgt === "object" && ρσ_equals(level_hgt, "default"))) {
            "351";
            level_hgt = self.level_hgt;
        }
        "353";
        tree_depth = (await self.get_height(self.root));
        "355";
        queue = ρσ_list_decorate([]);
        "356";
        queue.append(self.root);
        "357";
        last_ele = null;
        "359";
        while (len(queue)[">"](0)) {
            "360";
            node = queue.pop();
            "361";
            last_ele = node;
            "362";
            if (node.left) {
                "363";
                queue.append(node.left);
                "364";
            }
            if (node.right) {
                "365";
                queue.append(node.right);
                "367";
            }
            if (node === self.root) {
                "368";
                node.radius = Math.pow(1.5, tree_depth);
                "369";
                node_label = (await self.get_label(node));
                "370";
                node_label.height = max(Math.pow(1.5, tree_depth), 10);
                "371";
                continue;
            }
            "373";
            node_depth = (await self.get_depth(node));
            "374";
            if ((await self.is_left(node))) {
                "375";
                node.pos = vector(node.parent.pos.x["-"](level_breadth["*"](Math.pow(1.5, (tree_depth["-"](node_depth)))))["-"](node.radius), node.parent.pos.y["-"](level_hgt["*"](Math.pow(1.5, (tree_depth["-"](node_depth))))), node.pos.z);
                "382";
            } else {
                "383";
                node.pos = vector(node.parent.pos.x["+"](level_breadth["*"](Math.pow(1.5, (tree_depth["-"](node_depth)))))["+"](node.radius), node.parent.pos.y["-"](level_hgt["*"](Math.pow(1.5, (tree_depth["-"](node_depth))))), node.pos.z);
            }
            "390";
            node.radius = Math.pow(1.5, (tree_depth["-"](node_depth)));
            "392";
            node_label = (await self.get_label(node));
            "393";
            node_arrow = (await self.get_arrow(node));
            "395";
            node_label.pos = node.pos;
            "396";
            node_label.height = max(Math.pow(1.5, (tree_depth["-"](node_depth))), 10);
            "398";
            node_arrow.pos = node.parent.pos;
            "399";
            node_arrow.axis = node.pos["-"](node.parent.pos);
            "401";
        }
        if (last_ele) {
            "402";
            scene.center = self.root.pos["+"](vector(0, last_ele.pos.y, 0));
        }
    };
    if (!BST.prototype.refactor.__defaults__) Object.defineProperties(BST.prototype.refactor, {
        __defaults__ : {value: {level_breadth:"default", level_hgt:"default"}},
        __handles_kwarg_interpolation__ : {value: true},
        __argnames__ : {value: ["level_breadth", "level_hgt"]},
        __module__ : {value: null}
    });
    BST.prototype.build_tree = async function build_tree(items) {
        var self = this;
        var ρσ_ls, mid;
        "405";
        mid = (await Math.floor(len(items)["/"](2)));
        "406";
        (await self.add_item(items[(typeof mid === "number" && mid["<"](0)) ? items.length["+"](mid) : mid]));
        "407";
        ρσ_delitem(items, mid);
        "409";
        if (len(items)[">"](1)) {
            "410";
            (await self.build_tree(items.slice(0, mid)));
            "411";
            (await self.build_tree(items.slice(mid, len(items)["+"](1))));
            "412";
        } else {
            "413";
            if (ρσ_equals(len(items), 1)) {
                "414";
                (await self.add_item(items[0]));
            }
        }
    };
    if (!BST.prototype.build_tree.__argnames__) Object.defineProperties(BST.prototype.build_tree, {
        __argnames__ : {value: ["items"]},
        __module__ : {value: null}
    });
    BST.prototype.get_height = async function get_height() {
        var self = this;
        var node = (arguments[0] === undefined || ( 0 === arguments.length["-"](1) && arguments[arguments.length["-"](1)] !== null && typeof arguments[arguments.length["-"](1)] === "object" && arguments[arguments.length["-"](1)] [ρσ_kwargs_symbol] === true)) ? get_height.__defaults__.node : arguments[0];
        var ρσ_kwargs_obj = arguments[arguments.length["-"](1)];
        if (ρσ_kwargs_obj === null || typeof ρσ_kwargs_obj !== "object" || ρσ_kwargs_obj [ρσ_kwargs_symbol] !== true) ρσ_kwargs_obj = {};
        if (Object.prototype.hasOwnProperty.call(ρσ_kwargs_obj, "node")){
            node = ρσ_kwargs_obj.node;
        }
        "417";
        if ((node === "root" || typeof node === "object" && ρσ_equals(node, "root"))) {
            "418";
            node = self.root;
            "419";
        }
        if (node === null) {
            "420";
            return 0;
            "421";
        } else {
            "422";
            return 1["+"](max((await self.get_height(node.left)), (await self.get_height(node.right))));
        }
    };
    if (!BST.prototype.get_height.__defaults__) Object.defineProperties(BST.prototype.get_height, {
        __defaults__ : {value: {node:"root"}},
        __handles_kwarg_interpolation__ : {value: true},
        __argnames__ : {value: ["node"]},
        __module__ : {value: null}
    });
    BST.prototype.get_depth = async function get_depth(node) {
        var self = this;
        "425";
        if ((node === self.root || typeof node === "object" && ρσ_equals(node, self.root))) {
            "426";
            return 0;
            "427";
        } else {
            "428";
            return 1["+"]((await self.get_depth(node.parent)));
        }
    };
    if (!BST.prototype.get_depth.__argnames__) Object.defineProperties(BST.prototype.get_depth, {
        __argnames__ : {value: ["node"]},
        __module__ : {value: null}
    });
    BST.prototype.preorderTraverse = async function preorderTraverse(v) {
        var self = this;
        var ρσ_ls, curnode;
        "431";
        curnode = v;
        "432";
        curnode.color = color.red;
        "433";
        ρσ_interpolate_kwargs.call(this, print, (await [curnode.value].concat([ρσ_desugar_kwargs({end: " "})])));
        "434";
        (await sleep(1));
        "435";
        if ((curnode.left !== null && (typeof curnode.left !== "object" || ρσ_not_equals(curnode.left, null)))) {
            "436";
            (await self.preorderTraverse(curnode.left));
            "437";
        }
        if ((curnode.right !== null && (typeof curnode.right !== "object" || ρσ_not_equals(curnode.right, null)))) {
            "438";
            (await self.preorderTraverse(curnode.right));
        }
        "439";
        return;
    };
    if (!BST.prototype.preorderTraverse.__argnames__) Object.defineProperties(BST.prototype.preorderTraverse, {
        __argnames__ : {value: ["v"]},
        __module__ : {value: null}
    });
    BST.prototype.postorderTraverse = async function postorderTraverse(v) {
        var self = this;
        var ρσ_ls, curnode;
        "442";
        curnode = v;
        "443";
        curnode.color = color.magenta;
        "444";
        if ((curnode.left !== null && (typeof curnode.left !== "object" || ρσ_not_equals(curnode.left, null)))) {
            "445";
            (await sleep(1));
            "446";
            (await self.postorderTraverse(curnode.left));
            "447";
        }
        if ((curnode.right !== null && (typeof curnode.right !== "object" || ρσ_not_equals(curnode.right, null)))) {
            "448";
            (await sleep(1));
            "449";
            (await self.postorderTraverse(curnode.right));
        }
        "450";
        (await sleep(1));
        "451";
        curnode.color = color.red;
        "452";
        ρσ_interpolate_kwargs.call(this, print, (await [curnode.value].concat([ρσ_desugar_kwargs({end: " "})])));
        "453";
        return;
    };
    if (!BST.prototype.postorderTraverse.__argnames__) Object.defineProperties(BST.prototype.postorderTraverse, {
        __argnames__ : {value: ["v"]},
        __module__ : {value: null}
    });
    BST.prototype.inorderTraverse = async function inorderTraverse(curnode) {
        var self = this;
        "457";
        curnode.color = color.magenta;
        "458";
        if ((curnode.left !== null && (typeof curnode.left !== "object" || ρσ_not_equals(curnode.left, null)))) {
            "459";
            (await sleep(1));
            "460";
            (await self.inorderTraverse(curnode.left));
        }
        "461";
        (await sleep(1));
        "462";
        curnode.color = color.red;
        "463";
        ρσ_interpolate_kwargs.call(this, print, (await [curnode.value].concat([ρσ_desugar_kwargs({end: " "})])));
        "465";
        if ((curnode.right !== null && (typeof curnode.right !== "object" || ρσ_not_equals(curnode.right, null)))) {
            "466";
            (await sleep(1));
            "467";
            (await self.inorderTraverse(curnode.right));
        }
        "468";
        return;
    };
    if (!BST.prototype.inorderTraverse.__argnames__) Object.defineProperties(BST.prototype.inorderTraverse, {
        __argnames__ : {value: ["curnode"]},
        __module__ : {value: null}
    });
    BST.prototype.get_next_inorder = async function get_next_inorder(node) {
        var self = this;
        var ρσ_ls, curr_node;
        "471";
        curr_node = node.right;
        "472";
        while (curr_node.left) {
            "473";
            curr_node = curr_node.left;
        }
        "475";
        return curr_node;
    };
    if (!BST.prototype.get_next_inorder.__argnames__) Object.defineProperties(BST.prototype.get_next_inorder, {
        __argnames__ : {value: ["node"]},
        __module__ : {value: null}
    });
    BST.prototype.add_items = async function add_items() {
        var self = this;
        var args = Array.prototype.slice.call(arguments, 0);
        if (arguments[arguments.length["-"](1)] !== null && typeof arguments[arguments.length["-"](1)] === "object" && arguments[arguments.length["-"](1)] [ρσ_kwargs_symbol] === true) args.pop();
        var ρσ_ls, value;
        "478";
        var ρσ_Iter10 = args;
        ρσ_Iter10 = ((typeof ρσ_Iter10[Symbol.iterator] === "function") ? (ρσ_Iter10 instanceof Map ? ρσ_Iter10.keys() : ρσ_Iter10) : Object.keys(ρσ_Iter10));
        for (var ρσ_Index10 of ρσ_Iter10) {
            value = ρσ_Index10;
            "479";
            (await self.add_item(value));
        }
    };
    if (!BST.prototype.add_items.__handles_kwarg_interpolation__) Object.defineProperties(BST.prototype.add_items, {
        __handles_kwarg_interpolation__ : {value: true},
        __module__ : {value: null}
    });
    BST.prototype.is_leaf = async function is_leaf(node) {
        var self = this;
        "482";
        return node.left === null && node.right === null;
    };
    if (!BST.prototype.is_leaf.__argnames__) Object.defineProperties(BST.prototype.is_leaf, {
        __argnames__ : {value: ["node"]},
        __module__ : {value: null}
    });
    BST.prototype.is_left = async function is_left(node) {
        var self = this;
        "485";
        return node === node.parent.left;
    };
    if (!BST.prototype.is_left.__argnames__) Object.defineProperties(BST.prototype.is_left, {
        __argnames__ : {value: ["node"]},
        __module__ : {value: null}
    });
    BST.prototype.child_count = async function child_count(node) {
        var self = this;
        "488";
        return (node.left === null) ? 0 : 1["+"]((node.right === null) ? 0 : 1);
    };
    if (!BST.prototype.child_count.__argnames__) Object.defineProperties(BST.prototype.child_count, {
        __argnames__ : {value: ["node"]},
        __module__ : {value: null}
    });
    BST.prototype.get_label = async function get_label(node) {
        var self = this;
        "491";
        return (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.value, ρσ_expr_temp)][0];
    };
    if (!BST.prototype.get_label.__argnames__) Object.defineProperties(BST.prototype.get_label, {
        __argnames__ : {value: ["node"]},
        __module__ : {value: null}
    });
    BST.prototype.get_arrow = async function get_arrow(node) {
        var self = this;
        "494";
        return (ρσ_expr_temp = self.label_dict)[ρσ_bound_index(node.value, ρσ_expr_temp)][1];
    };
    if (!BST.prototype.get_arrow.__argnames__) Object.defineProperties(BST.prototype.get_arrow, {
        __argnames__ : {value: ["node"]},
        __module__ : {value: null}
    });
    BST.prototype.change_color = async function change_color() {
        var self = this;
        var ρσ_ls, i;
        "497";
        var ρσ_Iter11 = self.node_list;
        ρσ_Iter11 = ((typeof ρσ_Iter11[Symbol.iterator] === "function") ? (ρσ_Iter11 instanceof Map ? ρσ_Iter11.keys() : ρσ_Iter11) : Object.keys(ρσ_Iter11));
        for (var ρσ_Index11 of ρσ_Iter11) {
            i = ρσ_Index11;
            "498";
            i.color = color.cyan;
        }
    };
    if (!BST.prototype.change_color.__module__) Object.defineProperties(BST.prototype.change_color, {
        __module__ : {value: null}
    });
    BST.prototype.get_value = async function get_value(node) {
        var self = this;
        "501";
        return node.value;
    };
    if (!BST.prototype.get_value.__argnames__) Object.defineProperties(BST.prototype.get_value, {
        __argnames__ : {value: ["node"]},
        __module__ : {value: null}
    });
    BST.prototype.__repr__ = async function __repr__() {
                return "<"["+"](__name__)["+"](".")["+"](this.constructor.name)["+"](" #")["+"](this.ρσ_object_id)["+"](">");
    };
    BST.prototype.__str__ = async function __str__() {
        return (await this.__repr__());
    };
    Object.defineProperty(BST.prototype, "__bases__", {value: []});
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    "504";
    inp_str = "";
    "505";
    win = null;
    "507";
    async function bind_fn(obj) {
        "508";
        "509";
        inp_str = obj.text;
        "510";
        win.remove();
    };
    if (!bind_fn.__argnames__) Object.defineProperties(bind_fn, {
        __argnames__ : {value: ["obj"]},
        __module__ : {value: null}
    });

    "513";
    async function get_input() {
        var prompt_text = (arguments[0] === undefined || ( 0 === arguments.length["-"](1) && arguments[arguments.length["-"](1)] !== null && typeof arguments[arguments.length["-"](1)] === "object" && arguments[arguments.length["-"](1)] [ρσ_kwargs_symbol] === true)) ? get_input.__defaults__.prompt_text : arguments[0];
        var ρσ_kwargs_obj = arguments[arguments.length["-"](1)];
        if (ρσ_kwargs_obj === null || typeof ρσ_kwargs_obj !== "object" || ρσ_kwargs_obj [ρσ_kwargs_symbol] !== true) ρσ_kwargs_obj = {};
        if (Object.prototype.hasOwnProperty.call(ρσ_kwargs_obj, "prompt_text")){
            prompt_text = ρσ_kwargs_obj.prompt_text;
        }
        "514";
        "515";
        inp_str = "";
        (await sleep(.1));
        "516";
        win = ρσ_interpolate_kwargs.call(this, winput, [ρσ_desugar_kwargs({prompt: prompt_text, type: "string", bind: bind_fn})]);
    };
    if (!get_input.__defaults__) Object.defineProperties(get_input, {
        __defaults__ : {value: {prompt_text:""}},
        __handles_kwarg_interpolation__ : {value: true},
        __argnames__ : {value: ["prompt_text"]},
        __module__ : {value: null}
    });

    "519";
    async function wait_for_input() {
        "520";
        "521";
        while ((inp_str === "" || typeof inp_str === "object" && ρσ_equals(inp_str, ""))) {
            "522";
            (await rate(100));
        }
    };
    if (!wait_for_input.__module__) Object.defineProperties(wait_for_input, {
        __module__ : {value: null}
    });

    "525";
    async function main() {
        var ρσ_ls, _GS_1, bst, arr, inputs, w, val, node, node_list_vals;
        "526";
        "527";
        _GS_1 = new BST;
        (await _GS_1.__init__());
        bst = _GS_1;
        "529";
        (await get_input("Enter elements to build a Binary Search tree: "));
        "530";
        (await wait_for_input());
        "532";
        arr = list((await set((await map(int, (await inp_str.split(" ")))))));
        "533";
        (await arr.pysort());
        "534";
        (await bst.build_tree(arr));
        "536";
        while (true) {
            "537";
            (await get_input("Enter operation: "));
            "538";
            (await wait_for_input());
            "540";
            inputs = (await inp_str.split(" "));
            "541";
            if ((inputs[0] === "inord" || typeof inputs[0] === "object" && ρσ_equals(inputs[0], "inord"))) {
                "542";
                w = ρσ_interpolate_kwargs.call(this, wtext, [ρσ_desugar_kwargs({text: "<h1>Inorder Traversal<\/h1>", pos: scene.title_anchor})]);
                "543";
                print("Inorder Traversal :");
                "544";
                (await bst.inorderTraverse(bst.root));
                "545";
                (await bst.change_color());
                "546";
                print();
                "547";
                w.remove();
                "548";
            } else if ((inputs[0] === "preord" || typeof inputs[0] === "object" && ρσ_equals(inputs[0], "preord"))) {
                "549";
                w = ρσ_interpolate_kwargs.call(this, wtext, [ρσ_desugar_kwargs({text: "<h1>Preorder Traversal</h1>", pos: scene.title_anchor})]);
                "550";
                print("Preorder Traversal :");
                "551";
                (await bst.preorderTraverse(bst.root));
                "552";
                (await bst.change_color());
                "553";
                print();
                "554";
                w.remove();
                "555";
            } else if ((inputs[0] === "postord" || typeof inputs[0] === "object" && ρσ_equals(inputs[0], "postord"))) {
                "556";
                w = ρσ_interpolate_kwargs.call(this, wtext, [ρσ_desugar_kwargs({text: "<h1>Postorder Traversal</h1>", pos: scene.title_anchor})]);
                "557";
                print("Postorder Traversal :");
                "558";
                (await bst.postorderTraverse(bst.root));
                "559";
                (await bst.change_color());
                "560";
                print();
                "561";
                w.remove();
                "562";
            } else if ((inputs[0] === "S" || typeof inputs[0] === "object" && ρσ_equals(inputs[0], "S"))) {
                "563";
                w = ρσ_interpolate_kwargs.call(this, wtext, [ρσ_desugar_kwargs({text: "<h1>Search</h1>", pos: scene.title_anchor})]);
                "564";
                val = int(inputs[1]);
                "565";
                node = (await bst.search_item(bst.root, val));
                "566";
                if (node === null) {
                    "567";
                    print(""["+"](ρσ_str.format("{}", val))["+"](" is not present"));
                    "568";
                } else {
                    "569";
                    print(""["+"](ρσ_str.format("{}", node.value))["+"](" found!!"));
                }
                "570";
                w.remove();
                "571";
            } else if ((inputs[0] === "I" || typeof inputs[0] === "object" && ρσ_equals(inputs[0], "I"))) {
                "572";
                w = ρσ_interpolate_kwargs.call(this, wtext, [ρσ_desugar_kwargs({text: "<h1>Insertion</h1>", pos: scene.title_anchor})]);
                "573";
                val = int(inputs[1]);
                "574";
                node_list_vals = (function() {
                    var ρσ_Iter = bst.node_list, ρσ_Result = [], node;
                    ρσ_Iter = ((typeof ρσ_Iter[Symbol.iterator] === "function") ? (ρσ_Iter instanceof Map ? ρσ_Iter.keys() : ρσ_Iter) : Object.keys(ρσ_Iter));
                    for (var ρσ_Index of ρσ_Iter) {
                        node = ρσ_Index;
                        ρσ_Result.push(node.value);
                    }
                    ρσ_Result = ρσ_list_constructor(ρσ_Result);
                    return ρσ_Result;
                })();
                "575";
                while (ρσ_in(val, node_list_vals)) {
                    "576";
                    (await get_input("Enter a value not present in the tree: "));
                    "577";
                    (await wait_for_input());
                    "578";
                    val = int(inp_str);
                }
                "579";
                (await bst.search_item(bst.root, val));
                "580";
                (await bst.add_item(val));
                "581";
                print();
                "582";
                w.remove();
                "583";
            } else if ((inputs[0] === "D" || typeof inputs[0] === "object" && ρσ_equals(inputs[0], "D"))) {
                "584";
                w = ρσ_interpolate_kwargs.call(this, wtext, [ρσ_desugar_kwargs({text: "<h1>Deletion</h1>", pos: scene.title_anchor})]);
                "585";
                val = int(inputs[1]);
                "586";
                node = (await bst.remove_item(val));
                "587";
                if (node === null) {
                    "588";
                    print(""["+"](ρσ_str.format("{}", val))["+"](" is not present"));
                    "589";
                } else {
                    "590";
                    print(""["+"](ρσ_str.format("{}", val))["+"](" deleted"));
                }
                "591";
                print();
                "592";
                w.remove();
                "594";
            } else if ((inputs[0] === "X" || typeof inputs[0] === "object" && ρσ_equals(inputs[0], "X"))) {
                "595";
                break;
            }
        }
        "597";
        print("Program Terminated");
        "601";
    };
    if (!main.__module__) Object.defineProperties(main, {
        __module__ : {value: null}
    });

    if ((__name__ === "__main__" || typeof __name__ === "object" && ρσ_equals(__name__, "__main__"))) {
        "602";
        (await main());
    }
};
if (!__main__.__module__) Object.defineProperties(__main__, {
    __module__ : {value: null}
});

;$(function(){ window.__context = { glowscript_container: $("#glowscript").removeAttr("id") }; __main__() })})()
// END JAVASCRIPT

//--><!]]></script>
</div>