<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles.css">
        <title>BST</title>
    </head>


    <body>

        {% include "navbar.html" %}
        {% block content %}
        <div>
            <h2>Operations :</h2>
            <p><b>Inorder</b> - inord    &nbsp;&nbsp;  <b>PostOrder</b> - postord  &nbsp;&nbsp;  <b>PreOrder</b> - preord  &nbsp;&nbsp;  <b>Search</b> - S  &nbsp;&nbsp;  <b>Insert</b> - I  &nbsp;&nbsp;  <b>Deletion</b> - D  &nbsp;&nbsp;  <b>TO EXIT ENTER</b> - X</p>
        </div>
        <div id="glowscript" class="glowscript">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"><link type="text/css" href="https://s3.amazonaws.com/glowscript/css/redmond/2.1/jquery-ui.custom.css" rel="stylesheet" />
            <link type="text/css" href="https://s3.amazonaws.com/glowscript/css/ide.css" rel="stylesheet" />
            <script type="text/javascript" src="https://s3.amazonaws.com/glowscript/lib/jquery/2.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://s3.amazonaws.com/glowscript/lib/jquery/2.1/jquery-ui.custom.min.js"></script>
            <script type="text/javascript" src="https://s3.amazonaws.com/glowscript/package/glow.3.0.min.js"></script>
            <script type="text/javascript" src="https://s3.amazonaws.com/glowscript/package/RSrun.3.0.min.js"></script>
            <script type="text/javascript"><!--//--><![CDATA[//><!--
            ;(function() {;
            var inp_str, win;
            async function __main__() {
            "use strict";
            
                var version, display, vector, print, arange, __name__, type, scene, RS_ls, inp_str, win;
                version = RS_list_decorate([ "3.0", "glowscript" ]);
                Array.prototype['+'] = function(r) {return this.concat(r)}
                Array.prototype['*'] = function(r) {return __array_times_number(this, r)}
                window.__GSlang = "vpython";
                display = canvas;
                vector = vec;
                print = GSprint;
                arange = range;
                __name__ = "__main__";
                type = pytype;
                scene = canvas();
                "6";
                function BST() {;
                }
                BST.prototype.__init__ = async function __init__() {
                    var self = this;
                    "8";
                    self.root = null;
                    "9";
                    self.label_dict = {};
                    "10";
                    self.node_list = RS_list_decorate([]);
                    "12";
                    self.level_breadth = 5;
                    "13";
                    self.level_hgt = 5;
                    "14";
                    self.radius = 2;
                    "16";
                    self.font_size = 15;
                    "18";
                    scene.background = color.white;
                    "19";
                    scene.autoscale = true;
                    "21";
                    scene.width = 1280;
                    "22";
                    scene.height = 620;
                    "24";
                    print("BST initialted");
                };
                if (!BST.prototype.__init__.__module__) Object.defineProperties(BST.prototype.__init__, {
                    __module__ : {value: "__main__"}
                });
                BST.__argnames__ = BST.prototype.__init__.__argnames__;
                BST.__handles_kwarg_interpolation__ = BST.prototype.__init__.__handles_kwarg_interpolation__;
                BST.prototype.add_item = async function add_item(value) {
                    var self = this;
                    var RS_ls, new_node, pointer, parent, insert_left;
                    "27";
                    (await rate(1.5));
                    "28";
                    if (self.root === null) {
                        "29";
                        new_node = RS_interpolate_kwargs.call(this, sphere, [RS_desugar_kwargs({pos: vector(0, 0, 0), radius: self.radius, color: color.cyan, value: value, left: null, right: null, parent: null})]);
                        "38";
                        self.node_list.append(new_node);
                        "40";
                        (RS_expr_temp = self.label_dict)[(typeof value === "number" && value["<"](0)) ? RS_expr_temp.length["+"](value) : value] = [RS_interpolate_kwargs.call(this, label, [RS_desugar_kwargs({pos: new_node.pos, text: value, color: color.black, height: self.font_size})]), 
                        null];
                        "47";
                        self.root = new_node;
                        "48";
                        return self.root;
                    }
                    "50";
                    pointer = self.root;
                    "51";
                    parent = null;
                    "52";
                    insert_left = null;
                    "54";
                    while (pointer) {
                        "55";
                        parent = pointer;
                        "56";
                        if (value["<"](pointer.value)) {
                            "57";
                            pointer = pointer.left;
                            "58";
                            insert_left = true;
                            "59";
                        } else if (value[">"](pointer.value)) {
                            "60";
                            pointer = pointer.right;
                            "61";
                            insert_left = false;
                            "63";
                        }
                    }
                    if (insert_left) {
                        "64";
                        new_node = RS_interpolate_kwargs.call(this, sphere, [RS_desugar_kwargs({pos: parent.pos["+"](vector(self.level_breadth["-u"](), self.level_hgt["-u"](), 0)), radius: self.radius, color: color.cyan, value: value, left: null, right: null, parent: parent})]);
                        "73";
                        self.node_list.append(new_node);
                        "74";
                        parent.left = new_node;
                        "75";
                    } else {
                        "76";
                        new_node = RS_interpolate_kwargs.call(this, sphere, [RS_desugar_kwargs({pos: parent.pos["+"](vector(self.level_breadth, self.level_hgt["-u"](), 0)), radius: self.radius, color: color.cyan, value: value, left: null, right: null, parent: parent})]);
                        "85";
                        self.node_list.append(new_node);
                        "86";
                        parent.right = new_node;
                    }
                    "88";
                    (RS_expr_temp = self.label_dict)[(typeof value === "number" && value["<"](0)) ? RS_expr_temp.length["+"](value) : value] = RS_list_decorate([ RS_interpolate_kwargs.call(this, label, [RS_desugar_kwargs({pos: new_node.pos, text: value, color: color.black, height: self.font_size})]), RS_interpolate_kwargs.call(this, arrow, [RS_desugar_kwargs({pos: parent.pos, axis: new_node.pos["-"](parent.pos), color: color.yellow})]) ]);
                    "95";
                    (await self.refactor());
                };
                if (!BST.prototype.add_item.__argnames__) Object.defineProperties(BST.prototype.add_item, {
                    __argnames__ : {value: ["value"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.search_item = async function search_item(node, value) {
                    var self = this;
                    "98";
                    if (node === null) {
                        "99";
                        return null;
                    }
                    "101";
                    node.color = color.magenta;
                    "102";
                    if ((await self.get_arrow(node))) {
                        "103";
                        (await self.get_arrow(node)).color = color.magenta;
                    }
                    "104";
                    (await sleep(1));
                    "105";
                    node.color = color.cyan;
                    "106";
                    if ((await self.get_arrow(node))) {
                        "107";
                        (await self.get_arrow(node)).color = color.yellow;
                        "109";
                    }
                    if ((node.value === value || typeof node.value === "object" && RS_equals(node.value, value))) {
                        "110";
                        node.color = color.green;
                        "111";
                        (await sleep(2));
                        "112";
                        node.color = color.cyan;
                        "114";
                        return node;
                        "116";
                    } else if (value["<"](node.value)) {
                        "117";
                        return (await self.search_item(node.left, value));
                        "118";
                    } else if (value[">"](node.value)) {
                        "119";
                        return (await self.search_item(node.right, value));
                    }
                };
                if (!BST.prototype.search_item.__argnames__) Object.defineProperties(BST.prototype.search_item, {
                    __argnames__ : {value: ["node", "value"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.remove_item = async function remove_item(value) {
                    var self = this;
                    var RS_ls, node, v, dt, t, to_return, next_inorder_value;
                    "122";
                    node = (await self.search_item(self.root, value));
                    "123";
                    if (node === null) {
                        "125";
                        return null;
                    }
                    "127";
                    node.color = color.red;
                    "129";
                    v = vector(0, 0, 5);
                    "130";
                    dt = .05;
                    "131";
                    t = 0;
                    "133";
                    if ((await self.is_leaf(node))) {
                        "134";
                        while (t["<"](3)) {
                            "135";
                            (await rate(1["/"](dt)));
                            "136";
                            node.pos=node.pos["+"](v["*"](dt));
                            "137";
                            (RS_expr_temp = self.label_dict)[RS_bound_index(node.value, RS_expr_temp)][0].pos = node.pos;
                            "138";
                            t=t["+"](dt);
                        }
                        "140";
                        (RS_expr_temp = self.label_dict)[RS_bound_index(node.value, RS_expr_temp)][0].visible = false;
                        "141";
                        (RS_expr_temp = self.label_dict)[RS_bound_index(node.value, RS_expr_temp)][1].visible = false;
                        "142";
                        node.visible = false;
                        "144";
                        if ((await self.is_left(node))) {
                            "145";
                            node.parent.left = null;
                            "146";
                        } else {
                            "147";
                            node.parent.right = null;
                        }
                        "149";
                        to_return = node;
                        "150";
                        RS_delitem(self.label_dict, node.value);
                        "151";
                        node = undefined;
                        "153";
                    } else if (RS_equals((await self.child_count(node)), 1)) {
                        "154";
                        while (t["<"](2)) {
                            "155";
                            (await rate(1["/"](dt)));
                            "156";
                            node.pos=node.pos["+"](v["*"](dt));
                            "157";
                            (RS_expr_temp = self.label_dict)[RS_bound_index(node.value, RS_expr_temp)][0].pos = node.pos;
                            "158";
                            t=t["+"](dt);
                        }
                        "160";
                        (RS_expr_temp = self.label_dict)[RS_bound_index(node.value, RS_expr_temp)][0].visible = false;
                        "161";
                        (RS_expr_temp = self.label_dict)[RS_bound_index(node.value, RS_expr_temp)][1].visible = false;
                        "162";
                        node.visible = false;
                        "164";
                        if ((await self.is_left(node))) {
                            "165";
                            if (node.right === null) {
                                "166";
                                (RS_expr_temp = self.label_dict)[RS_bound_index(node.left.value, RS_expr_temp)][1].pos = node.parent.pos;
                                "167";
                                (RS_expr_temp = self.label_dict)[RS_bound_index(node.left.value, RS_expr_temp)][1].axis = node.left.pos["-"](node.parent.pos);
                                "170";
                                node.parent.left = node.left;
                                "171";
                                node.left.parent = node.parent;
                                "172";
                            } else {
                                "173";
                                (RS_expr_temp = self.label_dict)[RS_bound_index(node.right.value, RS_expr_temp)][1].pos = node.parent.pos;
                                "174";
                                (RS_expr_temp = self.label_dict)[RS_bound_index(node.right.value, RS_expr_temp)][1].axis = node.right.pos["-"](node.parent.pos);
                                "177";
                                node.parent.left = node.right;
                                "178";
                                node.right.parent = node.parent;
                                "179";
                            }
                        } else {
                            "180";
                            if (node.right === null) {
                                "181";
                                (RS_expr_temp = self.label_dict)[RS_bound_index(node.left.value, RS_expr_temp)][1].pos = node.parent.pos;
                                "182";
                                (RS_expr_temp = self.label_dict)[RS_bound_index(node.left.value, RS_expr_temp)][1].axis = node.left.pos["-"](node.parent.pos);
                                "185";
                                node.parent.right = node.left;
                                "186";
                                node.left.parent = node.parent;
                                "187";
                            } else {
                                "188";
                                (RS_expr_temp = self.label_dict)[RS_bound_index(node.right.value, RS_expr_temp)][1].pos = node.parent.pos;
                                "189";
                                (RS_expr_temp = self.label_dict)[RS_bound_index(node.right.value, RS_expr_temp)][1].axis = node.right.pos["-"](node.parent.pos);
                                "192";
                                node.parent.right = node.right;
                                "193";
                                node.right.parent = node.parent;
                            }
                        }
                        "195";
                        to_return = node;
                        "196";
                        RS_delitem(self.label_dict, node.value);
                        "197";
                        node = undefined;
                        "199";
                    } else {
                        "200";
                        next_inorder_value = (await self.get_next_inorder(node)).value;
                        "201";
                        to_return = (await self.remove_item(next_inorder_value));
                        "203";
                        (await self.get_label(node)).text = next_inorder_value;
                        "204";
                        (RS_expr_temp = self.label_dict)[(typeof next_inorder_value === "number" && next_inorder_value["<"](0)) ? RS_expr_temp.length["+"](next_inorder_value) : next_inorder_value] = (RS_expr_temp = self.label_dict)[RS_bound_index(node.value, RS_expr_temp)];
                        "205";
                        RS_delitem(self.label_dict, node.value);
                        "207";
                        node.value = next_inorder_value;
                    }
                    "210";
                    (await self.refactor());
                    "211";
                    return to_return;
                };
                if (!BST.prototype.remove_item.__argnames__) Object.defineProperties(BST.prototype.remove_item, {
                    __argnames__ : {value: ["value"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.refactor = async function refactor() {
                    var self = this;
                    var level_breadth = (arguments[0] === undefined || ( 0 === arguments.length["-"](1) && arguments[arguments.length["-"](1)] !== null && typeof arguments[arguments.length["-"](1)] === "object" && arguments[arguments.length["-"](1)] [RS_kwargs_symbol] === true)) ? refactor.__defaults__.level_breadth : arguments[0];
                    var level_hgt = (arguments[1] === undefined || ( 1 === arguments.length["-"](1) && arguments[arguments.length["-"](1)] !== null && typeof arguments[arguments.length["-"](1)] === "object" && arguments[arguments.length["-"](1)] [RS_kwargs_symbol] === true)) ? refactor.__defaults__.level_hgt : arguments[1];
                    var RS_kwargs_obj = arguments[arguments.length["-"](1)];
                    if (RS_kwargs_obj === null || typeof RS_kwargs_obj !== "object" || RS_kwargs_obj [RS_kwargs_symbol] !== true) RS_kwargs_obj = {};
                    if (Object.prototype.hasOwnProperty.call(RS_kwargs_obj, "level_breadth")){
                        level_breadth = RS_kwargs_obj.level_breadth;
                    }
                    if (Object.prototype.hasOwnProperty.call(RS_kwargs_obj, "level_hgt")){
                        level_hgt = RS_kwargs_obj.level_hgt;
                    }
                    var RS_ls, tree_depth, queue, node, node_label, node_depth, node_arrow;
                    "214";
                    if (self.root === null) {
                        "215";
                        return;
                        "217";
                    }
                    if ((level_breadth === "default" || typeof level_breadth === "object" && RS_equals(level_breadth, "default"))) {
                        "218";
                        level_breadth = self.level_breadth;
                        "220";
                    }
                    if ((level_hgt === "default" || typeof level_hgt === "object" && RS_equals(level_hgt, "default"))) {
                        "221";
                        level_hgt = self.level_hgt;
                    }
                    "223";
                    tree_depth = (await self.get_height(self.root));
                    "225";
                    queue = RS_list_decorate([]);
                    "226";
                    queue.append(self.root);
                    "227";
                    while (len(queue)[">"](0)) {
                        "228";
                        node = queue.pop();
                        "229";
                        if (node.left) {
                            "230";
                            queue.append(node.left);
                            "231";
                        }
                        if (node.right) {
                            "232";
                            queue.append(node.right);
                            "234";
                        }
                        if (node === self.root) {
                            "235";
                            node.radius = Math.pow(1.5, tree_depth);
                            "236";
                            node_label = (await self.get_label(node));
                            "237";
                            node_label.height = max(Math.pow(1.5, tree_depth), 10);
                            "238";
                            continue;
                        }
                        "240";
                        node_depth = (await self.get_depth(node));
                        "241";
                        if ((await self.is_left(node))) {
                            "242";
                            node.pos = vector(node.parent.pos.x["-"](level_breadth["*"](Math.pow(1.5, (tree_depth["-"](node_depth)))))["-"](node.radius), node.parent.pos.y["-"](level_hgt["*"](Math.pow(1.5, (tree_depth["-"](node_depth))))), node.pos.z);
                            "249";
                        } else {
                            "250";
                            node.pos = vector(node.parent.pos.x["+"](level_breadth["*"](Math.pow(1.5, (tree_depth["-"](node_depth)))))["+"](node.radius), node.parent.pos.y["-"](level_hgt["*"](Math.pow(1.5, (tree_depth["-"](node_depth))))), node.pos.z);
                        }
                        "257";
                        node.radius = Math.pow(1.5, (tree_depth["-"](node_depth)));
                        "259";
                        node_label = (await self.get_label(node));
                        "260";
                        node_arrow = (await self.get_arrow(node));
                        "262";
                        node_label.pos = node.pos;
                        "263";
                        node_label.height = max(Math.pow(1.5, (tree_depth["-"](node_depth))), 10);
                        "265";
                        node_arrow.pos = node.parent.pos;
                        "266";
                        node_arrow.axis = node.pos["-"](node.parent.pos);
                    }
                };
                if (!BST.prototype.refactor.__defaults__) Object.defineProperties(BST.prototype.refactor, {
                    __defaults__ : {value: {level_breadth:"default", level_hgt:"default"}},
                    __handles_kwarg_interpolation__ : {value: true},
                    __argnames__ : {value: ["level_breadth", "level_hgt"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.build_tree = async function build_tree(items) {
                    var self = this;
                    var RS_ls, mid;
                    "269";
                    mid = (await Math.floor(len(items)["/"](2)));
                    "270";
                    (await self.add_item(items[(typeof mid === "number" && mid["<"](0)) ? items.length["+"](mid) : mid]));
                    "272";
                    RS_delitem(items, mid);
                    "273";
                    if (len(items)[">"](1)) {
                        "274";
                        (await self.build_tree(items.slice(0, mid)));
                        "275";
                        (await self.build_tree(items.slice(mid, len(items)["+"](1))));
                        "276";
                    } else {
                        "277";
                        if (RS_equals(len(items), 1)) {
                            "278";
                            (await self.add_item(items[0]));
                        }
                    }
                };
                if (!BST.prototype.build_tree.__argnames__) Object.defineProperties(BST.prototype.build_tree, {
                    __argnames__ : {value: ["items"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.get_height = async function get_height() {
                    var self = this;
                    var node = (arguments[0] === undefined || ( 0 === arguments.length["-"](1) && arguments[arguments.length["-"](1)] !== null && typeof arguments[arguments.length["-"](1)] === "object" && arguments[arguments.length["-"](1)] [RS_kwargs_symbol] === true)) ? get_height.__defaults__.node : arguments[0];
                    var RS_kwargs_obj = arguments[arguments.length["-"](1)];
                    if (RS_kwargs_obj === null || typeof RS_kwargs_obj !== "object" || RS_kwargs_obj [RS_kwargs_symbol] !== true) RS_kwargs_obj = {};
                    if (Object.prototype.hasOwnProperty.call(RS_kwargs_obj, "node")){
                        node = RS_kwargs_obj.node;
                    }
                    "281";
                    if ((node === "root" || typeof node === "object" && RS_equals(node, "root"))) {
                        "282";
                        node = self.root;
                        "283";
                    }
                    if (node === null) {
                        "284";
                        return 0;
                        "285";
                    } else {
                        "286";
                        return 1["+"](max((await self.get_height(node.left)), (await self.get_height(node.right))));
                    }
                };
                if (!BST.prototype.get_height.__defaults__) Object.defineProperties(BST.prototype.get_height, {
                    __defaults__ : {value: {node:"root"}},
                    __handles_kwarg_interpolation__ : {value: true},
                    __argnames__ : {value: ["node"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.get_depth = async function get_depth(node) {
                    var self = this;
                    "289";
                    if ((node === self.root || typeof node === "object" && RS_equals(node, self.root))) {
                        "290";
                        return 0;
                        "291";
                    } else {
                        "292";
                        return 1["+"]((await self.get_depth(node.parent)));
                    }
                };
                if (!BST.prototype.get_depth.__argnames__) Object.defineProperties(BST.prototype.get_depth, {
                    __argnames__ : {value: ["node"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.preorderTraverse = async function preorderTraverse(v) {
                    var self = this;
                    var RS_ls, curnode;
                    "295";
                    curnode = v;
                    "296";
                    curnode.color = color.red;
                    "297";
                    RS_interpolate_kwargs.call(this, print, [curnode.value].concat([RS_desugar_kwargs({end: " "})]));
                    "298";
                    (await sleep(1));
                    "299";
                    if ((curnode.left !== null && (typeof curnode.left !== "object" || RS_not_equals(curnode.left, null)))) {
                        "300";
                        (await self.preorderTraverse(curnode.left));
                        "301";
                    }
                    if ((curnode.right !== null && (typeof curnode.right !== "object" || RS_not_equals(curnode.right, null)))) {
                        "302";
                        (await self.preorderTraverse(curnode.right));
                    }
                    "303";
                    return;
                };
                if (!BST.prototype.preorderTraverse.__argnames__) Object.defineProperties(BST.prototype.preorderTraverse, {
                    __argnames__ : {value: ["v"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.postorderTraverse = async function postorderTraverse(v) {
                    var self = this;
                    var RS_ls, curnode;
                    "306";
                    curnode = v;
                    "307";
                    curnode.color = color.magenta;
                    "308";
                    if ((curnode.left !== null && (typeof curnode.left !== "object" || RS_not_equals(curnode.left, null)))) {
                        "309";
                        (await sleep(1));
                        "310";
                        (await self.postorderTraverse(curnode.left));
                        "311";
                    }
                    if ((curnode.right !== null && (typeof curnode.right !== "object" || RS_not_equals(curnode.right, null)))) {
                        "312";
                        (await sleep(1));
                        "313";
                        (await self.postorderTraverse(curnode.right));
                    }
                    "314";
                    (await sleep(1));
                    "315";
                    curnode.color = color.red;
                    "316";
                    RS_interpolate_kwargs.call(this, print, [curnode.value].concat([RS_desugar_kwargs({end: " "})]));
                    "317";
                    return;
                };
                if (!BST.prototype.postorderTraverse.__argnames__) Object.defineProperties(BST.prototype.postorderTraverse, {
                    __argnames__ : {value: ["v"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.inorderTraverse = async function inorderTraverse(curnode) {
                    var self = this;
                    "321";
                    curnode.color = color.magenta;
                    "322";
                    if ((curnode.left !== null && (typeof curnode.left !== "object" || RS_not_equals(curnode.left, null)))) {
                        "323";
                        (await sleep(1));
                        "324";
                        (await self.inorderTraverse(curnode.left));
                    }
                    "325";
                    (await sleep(1));
                    "326";
                    curnode.color = color.red;
                    "327";
                    RS_interpolate_kwargs.call(this, print, [curnode.value].concat([RS_desugar_kwargs({end: " "})]));
                    "329";
                    if ((curnode.right !== null && (typeof curnode.right !== "object" || RS_not_equals(curnode.right, null)))) {
                        "330";
                        (await sleep(1));
                        "331";
                        (await self.inorderTraverse(curnode.right));
                    }
                    "332";
                    return;
                };
                if (!BST.prototype.inorderTraverse.__argnames__) Object.defineProperties(BST.prototype.inorderTraverse, {
                    __argnames__ : {value: ["curnode"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.get_next_inorder = async function get_next_inorder(node) {
                    var self = this;
                    var RS_ls, curr_node;
                    "335";
                    curr_node = node.right;
                    "336";
                    while (curr_node.left) {
                        "337";
                        curr_node = curr_node.left;
                    }
                    "339";
                    return curr_node;
                };
                if (!BST.prototype.get_next_inorder.__argnames__) Object.defineProperties(BST.prototype.get_next_inorder, {
                    __argnames__ : {value: ["node"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.add_items = async function add_items() {
                    var self = this;
                    var args = Array.prototype.slice.call(arguments, 0);
                    if (arguments[arguments.length["-"](1)] !== null && typeof arguments[arguments.length["-"](1)] === "object" && arguments[arguments.length["-"](1)] [RS_kwargs_symbol] === true) args.pop();
                    var RS_ls, value;
                    "342";
                    var RS_Iter0 = args;
                    RS_Iter0 = ((typeof RS_Iter0[Symbol.iterator] === "function") ? (RS_Iter0 instanceof Map ? RS_Iter0.keys() : RS_Iter0) : Object.keys(RS_Iter0));
                    for (var RS_Index0 of RS_Iter0) {
                        value = RS_Index0;
                        "343";
                        (await self.add_item(value));
                    }
                };
                if (!BST.prototype.add_items.__handles_kwarg_interpolation__) Object.defineProperties(BST.prototype.add_items, {
                    __handles_kwarg_interpolation__ : {value: true},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.is_leaf = async function is_leaf(node) {
                    var self = this;
                    "346";
                    return node.left === null && node.right === null;
                };
                if (!BST.prototype.is_leaf.__argnames__) Object.defineProperties(BST.prototype.is_leaf, {
                    __argnames__ : {value: ["node"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.is_left = async function is_left(node) {
                    var self = this;
                    "349";
                    return node === node.parent.left;
                };
                if (!BST.prototype.is_left.__argnames__) Object.defineProperties(BST.prototype.is_left, {
                    __argnames__ : {value: ["node"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.child_count = async function child_count(node) {
                    var self = this;
                    "352";
                    return (node.left === null) ? 0 : 1["+"]((node.right === null) ? 0 : 1);
                };
                if (!BST.prototype.child_count.__argnames__) Object.defineProperties(BST.prototype.child_count, {
                    __argnames__ : {value: ["node"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.get_label = async function get_label(node) {
                    var self = this;
                    "355";
                    return (RS_expr_temp = self.label_dict)[RS_bound_index(node.value, RS_expr_temp)][0];
                };
                if (!BST.prototype.get_label.__argnames__) Object.defineProperties(BST.prototype.get_label, {
                    __argnames__ : {value: ["node"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.get_arrow = async function get_arrow(node) {
                    var self = this;
                    "358";
                    return (RS_expr_temp = self.label_dict)[RS_bound_index(node.value, RS_expr_temp)][1];
                };
                if (!BST.prototype.get_arrow.__argnames__) Object.defineProperties(BST.prototype.get_arrow, {
                    __argnames__ : {value: ["node"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.change_color = async function change_color() {
                    var self = this;
                    var RS_ls, i;
                    "361";
                    var RS_Iter1 = self.node_list;
                    RS_Iter1 = ((typeof RS_Iter1[Symbol.iterator] === "function") ? (RS_Iter1 instanceof Map ? RS_Iter1.keys() : RS_Iter1) : Object.keys(RS_Iter1));
                    for (var RS_Index1 of RS_Iter1) {
                        i = RS_Index1;
                        "362";
                        i.color = color.cyan;
                    }
                };
                if (!BST.prototype.change_color.__module__) Object.defineProperties(BST.prototype.change_color, {
                    __module__ : {value: "__main__"}
                });
                BST.prototype.get_value = async function get_value(node) {
                    var self = this;
                    "365";
                    return node.value;
                };
                if (!BST.prototype.get_value.__argnames__) Object.defineProperties(BST.prototype.get_value, {
                    __argnames__ : {value: ["node"]},
                    __module__ : {value: "__main__"}
                });
                BST.prototype.__repr__ = async function __repr__() {
                            return "<"["+"](__name__)["+"](".")["+"](this.constructor.name)["+"](" #")["+"](this.RS_object_id)["+"](">");
                };
                BST.prototype.__str__ = async function __str__() {
                    return (await this.__repr__());
                };
                Object.defineProperty(BST.prototype, "__bases__", {value: []});
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
            
                "368";
                inp_str = "";
                "369";
                win = null;
                "371";
                async function bind_fn(obj) {
                    "372";
                    "373";
                    inp_str = obj.text;
                    "374";
                    win.remove();
                };
                if (!bind_fn.__argnames__) Object.defineProperties(bind_fn, {
                    __argnames__ : {value: ["obj"]},
                    __module__ : {value: "__main__"}
                });
            
                "377";
                async function get_input() {
                    var prompt_text = (arguments[0] === undefined || ( 0 === arguments.length["-"](1) && arguments[arguments.length["-"](1)] !== null && typeof arguments[arguments.length["-"](1)] === "object" && arguments[arguments.length["-"](1)] [RS_kwargs_symbol] === true)) ? get_input.__defaults__.prompt_text : arguments[0];
                    var RS_kwargs_obj = arguments[arguments.length["-"](1)];
                    if (RS_kwargs_obj === null || typeof RS_kwargs_obj !== "object" || RS_kwargs_obj [RS_kwargs_symbol] !== true) RS_kwargs_obj = {};
                    if (Object.prototype.hasOwnProperty.call(RS_kwargs_obj, "prompt_text")){
                        prompt_text = RS_kwargs_obj.prompt_text;
                    }
                    "378";
                    "379";
                    inp_str = "";
                    (await sleep(.1));
                    "380";
                    win = RS_interpolate_kwargs.call(this, winput, [RS_desugar_kwargs({prompt: prompt_text, type: "string", bind: bind_fn})]);
                };
                if (!get_input.__defaults__) Object.defineProperties(get_input, {
                    __defaults__ : {value: {prompt_text:""}},
                    __handles_kwarg_interpolation__ : {value: true},
                    __argnames__ : {value: ["prompt_text"]},
                    __module__ : {value: "__main__"}
                });
            
                "383";
                async function wait_for_input() {
                    "384";
                    "385";
                    while ((inp_str === "" || typeof inp_str === "object" && RS_equals(inp_str, ""))) {
                        "386";
                        (await rate(100));
                    }
                };
                if (!wait_for_input.__module__) Object.defineProperties(wait_for_input, {
                    __module__ : {value: "__main__"}
                });
            
                "388";
                async function main() {
                    var RS_ls, _GS_1, bst, arr, inputs, val, node, node_list_vals;
                    "389";
                    "390";
                    _GS_1 = new BST;
                    (await _GS_1.__init__());
                    bst = _GS_1;
                    "392";
                    (await get_input("Enter elements to build a Binary Search tree: "));
                    "393";
                    (await wait_for_input());
                    "395";
                    arr = list((await set((await map(int, (await inp_str.split(" ")))))));
                    "396";
                    (await arr.pysort());
                    "397";
                    (await bst.build_tree(arr));
                    "399";
                    while (true) {
                        "400";
                        (await get_input("Enter operation: "));
                        "401";
                        (await wait_for_input());
                        "403";
                        inputs = (await inp_str.split(" "));
                        "404";
                        if ((inputs[0] === "inord" || typeof inputs[0] === "object" && RS_equals(inputs[0], "inord"))) {
                            "405";
                            print("Inorder Traversal :");
                            "406";
                            (await bst.inorderTraverse(bst.root));
                            "407";
                            (await bst.change_color());
                            "408";
                            print();
                            "409";
                        } else if ((inputs[0] === "preord" || typeof inputs[0] === "object" && RS_equals(inputs[0], "preord"))) {
                            "410";
                            print("Preorder Traversal :");
                            "411";
                            (await bst.preorderTraverse(bst.root));
                            "412";
                            (await bst.change_color());
                            "413";
                            print();
                            "414";
                        } else if ((inputs[0] === "postord" || typeof inputs[0] === "object" && RS_equals(inputs[0], "postord"))) {
                            "415";
                            print("Postorder Traversal :");
                            "416";
                            (await bst.postorderTraverse(bst.root));
                            "417";
                            (await bst.change_color());
                            "418";
                            print();
                            "419";
                        } else if ((inputs[0] === "S" || typeof inputs[0] === "object" && RS_equals(inputs[0], "S"))) {
                            "420";
                            val = int(inputs[1]);
                            "421";
                            node = (await bst.search_item(bst.root, val));
                            "422";
                            if (node === null) {
                                "423";
                                print(""["+"](RS_str.format("{}", val))["+"](" is not present"));
                                "424";
                            } else {
                                "425";
                                print(""["+"](RS_str.format("{}", node.value))["+"](" found!!"));
                                "426";
                            }
                        } else if ((inputs[0] === "I" || typeof inputs[0] === "object" && RS_equals(inputs[0], "I"))) {
                            "427";
                            val = int(inputs[1]);
                            "428";
                            node_list_vals = (function() {
                                var RS_Iter = bst.node_list, RS_Result = [], node;
                                RS_Iter = ((typeof RS_Iter[Symbol.iterator] === "function") ? (RS_Iter instanceof Map ? RS_Iter.keys() : RS_Iter) : Object.keys(RS_Iter));
                                for (var RS_Index of RS_Iter) {
                                    node = RS_Index;
                                    RS_Result.push(node.value);
                                }
                                RS_Result = RS_list_constructor(RS_Result);
                                return RS_Result;
                            })();
                            "429";
                            while (RS_in(val, node_list_vals)) {
                                "430";
                                (await get_input("Enter a value not present in the tree: "));
                                "431";
                                (await wait_for_input());
                                "432";
                                val = int(inp_str);
                            }
                            "433";
                            (await bst.search_item(bst.root, val));
                            "434";
                            (await bst.add_item(val));
                            "435";
                            print();
                            "436";
                        } else if ((inputs[0] === "D" || typeof inputs[0] === "object" && RS_equals(inputs[0], "D"))) {
                            "437";
                            val = int(inputs[1]);
                            "438";
                            node = (await bst.remove_item(val));
                            "439";
                            if (node === null) {
                                "440";
                                print(""["+"](RS_str.format("{}", val))["+"](" is not present"));
                                "441";
                            } else {
                                "442";
                                print(""["+"](RS_str.format("{}", val))["+"](" deleted"));
                            }
                            "443";
                            print();
                            "445";
                        } else if ((inputs[0] === "X" || typeof inputs[0] === "object" && RS_equals(inputs[0], "X"))) {
                            "446";
                            break;
                        }
                    }
                    "448";
                    print("Program Terminated");
                    "452";
                };
                if (!main.__module__) Object.defineProperties(main, {
                    __module__ : {value: "__main__"}
                });
            
                if ((__name__ === "__main__" || typeof __name__ === "object" && RS_equals(__name__, "__main__"))) {
                    "453";
                    (await main());
                }
            };
            if (!__main__.__module__) Object.defineProperties(__main__, {
                __module__ : {value: "__main__"}
            });
            
            ;$(function(){ window.__context = { glowscript_container: $("#glowscript").removeAttr("id") }; __main__() })})()
            
            //--><!]]></script>
            </div>

        {% endblock %}
    </body>

</html>
